.address {
    max-width: 80rem;
    margin: auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    margin-bottom: 12rem;
}

.address address {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    text-align: center;
}

.address p {
    font-size: 1.4rem;
}
