.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid black;
    background-color: #fff;
    position: relative;
    position: sticky;
    top: 0;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    height: 8rem;
    z-index: 10;
}

.menu {
    display: none;
    width: 5rem;
    height: 5rem;
}

.logo {
    padding: 1.45rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo:hover {
    background-color: blue;
}

.icon {
    width: 2rem;
    height: 2rem;
    color: #868e96;
    color: purple;
}

.logo span {
    font-size: 1.8rem;
    font-weight: 600;
    color: #868e96;
}

@media (max-width: 37.5em) {
    .menu {
        display: block;
    }
    .hidden {
        opacity: 0;
        pointer-events: none;
    }
    .nav-container {
        transition: all 1s;
    }
}
