.about {
    margin: auto;
    margin-bottom: 12rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 4rem;
    column-gap: 4rem;
}

.content {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.flex-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.content-inner {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.content:last-child {
    color: #fff;
    background-color: black;
    grid-column: 1/3;
}

.content h2 {
    margin-bottom: 3rem;
}

.content p {
    margin-bottom: 3rem;
    font-size: 1.4rem;
}

.content ul li {
    font-size: 1.4rem;
}

.content-inner h2 {
    margin-bottom: 3rem;
}

.content-inner p {
    margin-bottom: 3rem;
    font-size: 1.4rem;
}

.content-inner ul li {
    font-size: 1.4rem;
}

.ceo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: black;
    align-items: center;
    max-width: 40rem;
    border: 4px solid #fff;
    border-radius: 8px;
    color: #fff;
    padding: 0;
}

.photo {
    max-width: 40rem;
}
.photo img {
    width: 100%;
    height: 100%;
}

.info {
    margin-left: 2rem;
}

.info p {
    font-size: 2rem;
}

.info span {
    font-size: 2rem;
}

@media (max-width: 37.5em) {
    .about {
        grid-template-columns: 1fr;
    }

    .content:last-child {
        grid-column: 1;
    }
}
